
.main-stats-container img {
  height: 45px;
  margin-top: 15px
}

.main-stats-container mat-card {
  border-radius: 10px;
}

.header {
  height: 51px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.card-1 {
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.75) !important;
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1) !important;
}

.card-1:hover {
  transform: scale(1.01);
  border-radius: 20px;
  box-shadow: 0 5px 21px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
}
