.grid-container {
  margin: 5px;
}

.dashboard-card {
  position: absolute;
  top: 10px;
  left: 10px;
  right: 10px;
  bottom: 10px;
}

.more-button {
  position: absolute;
  top: 5px;
  right: 10px;
}

.dashboard-card-content {
  text-align: center;
}

.grid-container1 {
  display: grid !important;
  grid-gap: 15px 15px !important;
  /* autoprefixer: off */
  grid-template-columns: repeat(1, 1fr) !important;
}

.card-1 {
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.75) !important;
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1) !important;
}

.main-stats-container {
  display: grid;
  grid-gap: 25px;
  /* autoprefixer: off */
  grid-template-columns: repeat(auto-fit, minmax(230px, 1fr))
}

.header {
  height: 51px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
