/* You can add global styles to this file, and also import other style files */
@import 'styles-variables';

@import '../node_modules/bootstrap/scss/bootstrap-reboot';
@import '../node_modules/bootstrap/scss/bootstrap-grid';
@import '../node_modules/bootstrap/scss/bootstrap';

@import '../node_modules/font-awesome/scss/font-awesome';

@import 'styles-reset';

@import '../node_modules/@angular/material/theming';

// styles for the tree component
@import '~angular-tree-component/dist/angular-tree-component.css';
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$htmr-web-primary: mat-palette($mat-blue-grey, 700);
$htmr-web-accent: mat-palette($mat-cyan, A200, A100, A400);

// The warn palette is optional (defaults to red).
$htmr-web-warn: mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$htmr-web-theme: mat-light-theme($htmr-web-primary, $htmr-web-accent, $htmr-web-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($htmr-web-theme);

/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}

body {
  margin: 0;
}

.secondary-color {
  color: rgb(255, 255, 250) !important;
}

.cursor {
  cursor: pointer !important;
}

.active-menu {
  background-color: rgba(83, 85, 89, 0.2) !important;
  border: 1px solid rgba(0, 0, 0, 0.151) !important;
  border-top-right-radius: 5px !important;
  border-bottom-right-radius: 5px !important;
  font-weight: 600 !important;
}

.action-button {
  height: 43px;
}

.mat-form-field-appearance-outline .mat-form-field-infix {
  padding: 10px 0 10px 0 !important;
}

.mat-form-field {
  width: 100% !important;
}

.mat-drawer-inner-container {
  overflow: hidden!important;
}

.mat-drawer-inner-container:hover {
  overflow: auto!important;
}


.mat-drawer-inner-container::-webkit-scrollbar {
  width: 8px !important;
}

.mat-drawer-inner-container::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3) !important;
  border-radius: 10px !important;
}

.mat-drawer-inner-container .model-card::-webkit-scrollbar-thumb {
  border-radius: 10px !important;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3) !important;
}

.success {
  background-color: green !important;
}

.error {
  background-color: rgba(250, 69, 0, 0.5) !important;
}

.warning {
  background-color: rgba(250, 207, 26, 0.54) !important;
}

a.add-item {
  position: fixed;
  bottom: 40px;
  right: 10px;
  margin-left: 5px;
}


@media print {
  .sidenav {
    width: 0px !important;
    display: none !important;
    background-color: transparent !important;
  }

  .mat-sidenav-content {
    margin-left: 0px !important;
  }

  .sidenav * {
    display: none !important;
    background-color: transparent !important;
  }

  .no-print {
    display: none !important;
  }

  .no-print * {
    display: none !important;
  }

}

.reportTable th {
  font-size: 12px!important;
  text-align: center;
}

.reportTable td {
  font-size: 12px!important;
}

.reportTable .gen {
  text-align: center!important;
  width: 12px;
}

.reportTable .gen1 {
  text-align: center!important;
}

.bordered-form{
  border:1px solid #C1D1E3;
  padding:10px;
  border-radius: 4px!important;
}
